.modal-body
  h1.text-center Coryat Scores
  .row
    each i in [1, 2, 3]
      .col-md-4.text-center
        .player-name {{ game['player_' + #{i}].name || 'Player #{i}' }}
        .player-score {{ game['player_' + #{i}].coryat | currency:'$':0 }}
  .row.mt-4
    .col-md-12.text-center
      h3 Combined Coryat: {{ (game.player_1.coryat + game.player_2.coryat + game.player_3.coryat) | currency:'$':0 }}